body {
	margin: 0;
	display: grid;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

canvas {
	transition: filter 0.2s, transform 0.2s;
}

canvas.spellcasting {
	filter: blur(24px) brightness(0.3) saturate(5);
	transform: scale(1.1);
}

.card {
	width: 220px;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 4px;
}

.card.active {
	background: white !important;
}

.card .image {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.card .header {
	display: flex;
	justify-content: space-between;
	padding: 0 4px;
}

.card .title, .card .index {
	font-weight: bold;
	font-size: 20px;
	line-height: 2em;
	margin: 0;
	margin-bottom: 0.25em;
}

#card-shelf {
	position: absolute;
	height: 320px;
	width: 100vw;
	top: calc(100vh - 320px);
	display: flex;
	gap: 16px;
	padding-left: 16px;
	overflow: hidden;
	pointer-events: none;
}

#card-shelf:hover .card {
	will-change: transform;
}

#card-shelf .card {
	transform: translateY(220px);
	transition: transform 0.3s;
	pointer-events: auto;
}

#card-shelf .card:hover {
	transform: translateY(0);
}

#dice-chooser .title {
	position: absolute;
	top: -96px;
	left: 50%;
	transform: translateX(-50%);
	font-family: sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-shadow: 0 2px 12px rgb(0 0 0 / .5), 0 1px 4px rgba(0 0 0 / .5);
}

#dice-chooser {
	width: 640px;
	height: 640px;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#dice-chooser .cancel {
	width: 104px;
	height: 104px;
	top: -24px;
	left: -24px;
	position: absolute;
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	opacity: 50%;
}

#dice-chooser .cancel:hover {
	opacity: 100%;
}

.dice-container {
	width: 112px;
	height: 112px;
	padding: 8px;
	background-size: cover;
	display: grid;
	position: absolute;
	transform: translate(-50%, -50%);
}

.dice-container:hover {
	background-image: var(--dice-select);
	filter: brightness(110%);
}

.dice-container .image {
	background-size: cover;
	filter: hue-rotate(45deg) brightness(1.25) contrast(1.25) drop-shadow(0 2px 12px rgb(0 0 0 / .5));
}

.dice-container .label {
	position: absolute;
	font-family: sans-serif;
	text-shadow: 0 2px 12px rgb(0 0 0 / .5), 0 1px 4px rgba(0 0 0 / .5);
}

.dice-container .label .name {
	font-weight: bold;
	color: white;
	font-size: 24px;
	white-space: pre;
	margin: 0;
	margin-bottom: 2px;
}

.dice-container .label .durability {
	font-weight: bold;
	color: white;
	opacity: 0.8;
	font-size: 18px;
	white-space: pre;
	margin: 0;
}

.dice-container .label.left {
	top: 50%;
	right: 100%;
	padding-right: 12px;
	text-align: right;
	transform: translateY(-50%);
}

.dice-container .label.right {
	top: 50%;
	left: 100%;
	padding-left: 12px;
	transform: translateY(-50%);
}

.dice-container .label.center {
	top: 100%;
	text-align: center;
	padding-top: 4px;
	left: 50%;
	transform: translateX(-50%);
}

.roll-text {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	font-size: 256px;
	font-weight: bold;
	color: white;
	margin: 0;
	text-shadow: 0 2px 12px rgb(0 0 0 / .5), 0 1px 4px rgba(0 0 0 / .5);
}

#health-container {
	position: absolute;
	display: flex;
	top: 16px;
	left: 16px;
}

#health-container .notch {
	height: 48px;
	width: 16px;
	background: var(--bg-empty);
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#health-container .notch.full {
	background: var(--bg-full);
	background-size: cover;
}

#currency-container {
	position: absolute;
	display: flex;
	gap: 12px;
	align-items: center;
	top: 72px;
	left: 16px;
}

#currency-container .icon {
	width: 36px;
	height: 36px;
	background-image: var(--bg);
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#currency-container .amount {
	font-weight: bold;
	color: white;
	font-size: 28px;
	font-family: sans-serif;
	margin: 0;
	/* margin-bottom: 4px; */
}
